---
layout: default
title: Gallery
---

<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="page-head">
        <h1 class="page-head__title">{{ page.title | escape }}</h1>
      </div>
      <div class="container__inner">
        <div class="contaniner__inner-box">
          <div class="row grid">
            {% assign gallery_posts = site.gallery | sort: 'date' | reverse %}
            {% for item in gallery_posts %}
              {% assign post = item %}
              {% include article-content.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
