---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1">
      <div class="archive-box">
        <span class="archive-meta">All posts tagged</span>
        <h1 class="archive-title">{{ page.tag }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
			<div class="container__inner">
				<div class="contaniner__inner-box">
					<div class="row grid">
            {% assign tag_items = page.posts %}
            {% unless tag_items %}
              {% assign tag_items = '' | split: ',' %}
            {% endunless %}
            {% for item in site.gallery %}
              {% if item.tags contains page.tag %}
                {% assign tag_items = tag_items | push: item %}
              {% endif %}
            {% endfor %}
            {% assign tag_items = tag_items | sort: 'date' | reverse %}
            {% for post in tag_items %}
              {% include article-content.html %}
            {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>